@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item
@* A model directive tells our view what type of data will be passed into the view from the controller route. In this
  case, we're telling the view that it will receive a model that is an Item. *@

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  //lambda expression
  @Html.TextBoxFor(model => model.Description)
  //LabelFor() and TextBoxFor(). The first generates a label for a form field while the second generates a text box.

  @Html.LabelFor(model => model.DueDate)
  @Html.EditorFor(model => model.DueDate)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new item" class="btn btn-default" />
  //this form will send a POST request to the Create() route.
}
<p>@Html.ActionLink("Show all items", "Index")</p>